<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intramuralsappfinal">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntramuralsAppFinal">
        <activity
            android:name=".LoginRegister.RegisterActivity"
            android:label="Register"
            android:theme="@style/Theme.IntramuralsAppFinal" />
        <activity android:name=".ui.profile.UserTeamActivity"
            android:label="UserTeam"
            android:theme="@style/Theme.IntramuralsAppFinal"/>
        <activity
            android:name=".LoginRegister.LoginActivity"
            android:label="Login"
            android:theme="@style/Theme.IntramuralsAppFinal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>